<div class="individual-post-container">
  <img class="individual-post-image" src="{{locals.pickedPost.url}}">
  <span class="ratings">
    {{#if locals.user}}
    <form name={{locals.pickedPost._id}} class="upper" action="/post/{{locals.pickedPost._id}}/upvote" method = "post">
      <button class="voter" type="submit" name="button"><i class="fa fa-arrow-up"></i></button>
    </form>
    {{/if}}
    <span class="rating">{{locals.pickedPost.rating}}</span>
    {{#if locals.user}}
    <form name={{locals.pickedPost._id}} class="downer" action="/post/{{locals.pickedPost._id}}/downvote" method = "post">
      <button class="voter" type="submit" name="button"><i class="fa fa-arrow-down"></i></button>
    </form>
    {{/if}}
  </span>
  <h3>{{locals.pickedPost.title}}</h3>
  <p id="individual-post-body">{{locals.pickedPost.body}}</p>
  <form name={{locals.pickedPost._id}} class="commentForm" action="/post/{{locals.pickedPost._id}}/comment" method="post">
    Add comment:  <input type="text" name="commentBody" value="">
    <button type="submit" name="button">Submit</button>
  </form>
  <h4 id="comment-header">COMMENTS:</h4>
  {{#each locals.pickedPost.comments}}
    <p class="comment">{{this}}</p>
  {{/each}}

</div>
